<div class="card">
  <div class="card-header">
     
    <span *ngIf="user.id == 0"><i class="fa fa-user-plus mr-2"></i>Add</span>
    <span *ngIf="user.id > 0"><i class="fa fa-user-edit mr-2"></i>Edit</span>
    User (Template Driven)
  </div>
  <div class="card-body">
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    <div *ngIf="showSuccessMsg" class="alert alert-success">User saved successfully</div>
    
    <form #userform="ngForm" autocomplete="off">      
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Name"
          [(ngModel)]="user.name"
          name="name"
          required
          #name="ngModel" />
        <div
          class="alert alert-danger"
          [hidden]="name.valid || name.pristine" >
          Name is required
        </div>
      </div>
      
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          [(ngModel)]="user.email"
          name="email"
          required #email="ngModel" />
        <div
          class="alert alert-danger"
          [hidden]="email.valid || email.pristine" >
          Email is required
        </div>
      </div>
      
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Phone"
          [(ngModel)]="user.phone"
          name="phone"
          required #phone="ngModel" />
        <div
          class="alert alert-danger"
          [hidden]="phone.valid || phone.pristine" >
          Phone is required
        </div>
      </div>
      
      <div class="text-center">
        <div class="btn-group" role="group">
          <button
            [disabled]="!userform.form.valid"
            class="btn btn-success"
            (click)="save(userform)">
            <i class="fa fa-save"></i> Save <i *ngIf="loading" class="fa fa-circle-notch fa-spin"></i>
          </button>
          
          <button
            [disabled]="(user.id == 0) && (userform.form.pristine || loading)"
            class="btn btn-light border"
            (click)="resetForm(userform)">
            <i class="fa fa-ban"></i> Cancel
          </button>
        </div>
      </div>      
      
      <div class="mt-4 mb-1"><strong>Below is the <code>user</code> model data of this component</strong></div>
      <code style="display: block; white-space: pre-wrap;">{{getUser()}}</code>
    </form>
  </div>
</div>